body{
    background-color: black;}
p{
    color: red;
    text-align: center;
    font-family: 'Anonymous Pro', monospace;
}
h3{
    color: red;
    font-family: 'Anonymous Pro', monospace;
    max-width:100%;
    max-height:50%;
  position: absolute;
  right: 47%;
  bottom: 1%;
}
h2{ color: red;
    font-family: 'Anonymous Pro', monospace;
    max-width:35%;
    max-height:50%;
  position: absolute;
  right: 37%;
  bottom: 70%;}
.p2{
  color: red;
    text-align: center;
    font-family: 'Anonymous Pro', monospace;

    position: absolute;
    right: 20%;
    bottom: 15%;
}
.imgg{
  position: absolute;
  left: 35%;
  bottom: 40%;
}
.ghost{
  max-width:100%;
  max-height:100%;
position: absolute;
right: 25%;
bottom: 35%;
}
.sfw{
  color: red;
  text-align: center;
  font-family: 'Anonymous Pro', monospace;
  text-decoration: none;

}
.nsfw{
  color: red;
  text-align: center;
  font-family: 'Anonymous Pro', monospace;
  text-decoration: none;
}

.hx{
  color: red;
  text-align: center; 
  font-family: 'Anonymous Pro', monospace;
  position: absolute;
right: 25%;
bottom: 35%
}