body{
 background-color: black;}
h1{
    text-align: center;
    color: red;
    font-family: 'Anonymous Pro', monospace;

}

img.resize {
  max-width:100%;
  max-height:50%;
position: absolute;
right: 45%;
}
p{
    color: red;
    position: absolute;
left:39%;
top: 300px;
font-family: 'Anonymous Pro', monospace;
}
.pos{
position: absolute;
bottom: 58%;
left: 610px;
}
.pos2{
  max-width:30%;
    max-height:50%;
  position: absolute;
  bottom: 19%;
  left: 620px;
}
.pos1{
  max-width:30%;
    max-height:50%;
  position: absolute;
  bottom: 55%;
  left: 820px;
} 
.pos3{
  max-width:100%;
  max-height:50%;
position: absolute;
right: 60%;
}
.pos4{
  max-width:100%;
  max-height:50%;
position: absolute;
left: 60%;
}
.center{
  max-width:100%;
  max-height:50%;
position: absolute;
right: 47%;
bottom: 10%;
}
h3{
    color: red;
    font-family: 'Anonymous Pro', monospace;
    max-width:100%;
    max-height:50%;
  position: absolute;
  right: 47%;
  bottom: 10%;
}