body{
    background-color: black;
}
h1{
    color: red;
    text-align: center;
    font-family: 'Anonymous Pro', monospace;
}
h2{
    color: red;
    text-align: center;
    font-family: 'Anonymous Pro', monospace;
}
h3{ color: red;
    font-family: 'Anonymous Pro', monospace;
    max-width:100%;
    max-height:50%;
  position: absolute;
  right: 47%;
  bottom: 10%;}
  img.book{
    position: absolute;
  bottom: 80%;
  left: 795px;
  }
  .p1{
    color: red;
    position: absolute;
    max-width: 200%;
    max-height:200%;
    bottom: 70%;
    left: 860px;
    font-family: 'Anonymous Pro', monospace;
  }
  .p2{ color: red;
    position: absolute;
    max-width: 200%;
    max-height:200%;
    bottom: 65%;
    left: 870px;
    font-family: 'Anonymous Pro', monospace;
  }
  .p3{ color: red;
    position: absolute;
    max-width: 200%;
    max-height:200%;
    bottom: 60%;
    left: 870px;
    font-family: 'Anonymous Pro', monospace;
  }
  .p4{ color: red;
    position: absolute;
    max-width: 200%;
    max-height:200%;
    bottom: 55%;
    left: 850px;
    font-family: 'Anonymous Pro', monospace;
  }
  img.vhs{
    position: absolute;
    bottom: 30%;
    left: 795px;
  }
  img.fun{
    max-width:10%;
    max-height:50%;
    position: absolute;
    bottom: 55%;
    left: 400px;
  }
  img.fun1{
    max-width:10%;
    max-height:50%;
    position: absolute;
    bottom: 55%;
    right: 400px;
  }
  img.star{
    max-width:3%;
    max-height:10%;
    position: absolute;
    bottom: 70%;
    left: 800px;
  }
  img.star1{
    max-width:3%;
    max-height:10%;
    position: absolute;
    bottom: 70%;
    right: 830px;
  }
 