body{
 background-color: black;}
h1{
    text-align: center;
    color: red;
    font-family: 'Bebas Neue', cursive;
}

.enter{color: red;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  position: absolute;
  right: 49%;
  bottom: 75%;
}
img.resize {
  max-width:50%;
  max-height:19%;
position: absolute;
right: 45%;
bottom: 70%;
}
